# URL trỏ tới REST API Backend (mặc định cho Android Emulator hoặc IP LAN máy dev)
EXPO_PUBLIC_API_URL=http://10.0.2.2:5000

# Cờ bật/tắt Mocking Data khi Backend chưa hoàn thành (true | false)
EXPO_PUBLIC_USE_MOCK=true

# Môi trường ứng dụng (development | staging | production)
EXPO_PUBLIC_APP_ENV=development
